- body_class 'portfolio'

%hgroup.portfolio
  %h1= @profile.display_name

  - if @profile.location?
    %h5.location= @profile.location

  - if @profile.categories?
    %h5.categories
      - @profile.categories.each do |c|
        %a{href: R(:category, c)}= c.title

%section.projects
  %ul
    - @projects.each do |project|
      %li
        %a{href: R(@profile, project)}
          %img
          %strong= project.name
          %em= project.main_category_titles.join(', ')

    - (6-@projects.size).times do
      %li.blank
        %img

- content_for :edit_actions do
  %li
    %a{href: '/profile/upload'}= t('folio_editor.add_new_project')
