- body_class 'portfolio'

%hgroup.portfolio
  %h1= @profile.display_name

  - if @profile.location?
    %h5.location= @profile.location

%section.projects
  %ul
    - @projects.each do |project|
      %li
        %a{href: R(@profile, project)}
          - if project.has_image?
            %img{src: project.main_image.small_url}
          - else
            %img.blank
          %strong= project.name
          %em= project.main_category_titles.join(', ')

    - (6-@projects.size).times do
      %li.blank
        %img.blank

- if @profile == my_profile
  - content_for :edit_actions do
    %li
      %a{href: '/profile/edit', role: 'popup'}= t('folio_editor.edit_your_profile')
    %li
      %a{href: '/profile/upload', role: 'popup'}= t('folio_editor.add_new_project')
