- body_class 'form'
- title t('new_project.title')

- content_for :heading do
  %h1= t('new_project.title')

%form{method: 'post'}
  %p.title.full.max
    %label.hide{for: 'name'}= tc('project.name')
    %input#name{type: 'text', name: 'project[name]', value: @project.name, placeholder: t('project.project_name')}
    != show_errors_for(:name)

  != partial :'global/category_field',
       record: @project,
       prefix: 'project',
       attrs: { class: 'limited full' }

  %p.submit
    %button(type='submit')= t('next')
