- title @project.name
- body_class 'project'

%hgroup.portfolio
  %h1= @project.name
  - if @project.categories?
    %h5.categories
      - @project.categories.each do |c|
        %a{href: R(:category, c)}= c.title

%section.images
  - @project.images.each do |image|
    = image

- if @project.profile == my_profile
  - content_for :edit_actions do
    %li
      %a{href: R(my_profile, @project, :edit), role: 'popup'}= t('folio_editor.edit_project_info')
    %li
      %a{href: R(my_profile, @project, :add), role: 'popup'}= t('folio_editor.add_images')
