%header#header
  %a#logo{href: '/'}
    PWDO

  - if authenticated?
    %nav#actions
      %ul
        %li.pair
          %a.you{href: R(my_profile)}
            %strong= my_profile.display_name
            %span= "@%s" % my_profile.name

        %li.pair
          %a{href: '/profile/upload'}
            %strong Add
            %span new project

  %nav#links
    %ul
      %li.pair
        %a{href: '/members'}
          %strong Members
          %span directory

      %li.pair
        %a{href: '/explore'}
          %strong Explore
          %span projects

  %nav#aux
    %ul
      - if authenticated?
        %li
          %a{href: '/logout'}= t('nav.logout')
      - else
        %li
          %a{href: '/login'}= t('nav.login')
        %li
          %a{href: '/register'}= t('nav.register')

