%header#header
  %a#logo{href: '/'}
    PWDO

  - if authenticated?
    != partial :'global/user_actions'

  != partial :'global/site_links'

  %nav#aux
    %ul
      - if authenticated?
        %li
          %a{href: '/logout'}= t('nav.logout')
      - else
        %li
          %a{href: '/login'}= t('nav.login')
        %li
          %a{href: '/register'}= t('nav.register')

