- content_for :head do
  != google_font "Oswald"
  %link{rel: 'stylesheet', media: 'screen', type: 'text/css', href: "/css/folio.css"}

- content_for :body do
  != partial :'global/folio_header'

  #content
    - if flash?
      #flash= flash

    - if content_for?(:heading)
      #heading
        != yield_content :heading

    != yield

- content_for :footer do
  - if my_profile?
    %nav#edit-actions
      %h3
        Hi.
      %ul
        != yield_content :edit_actions

!= partial :'layouts/base'
